#
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "game"
  INSTANCE:
    GAME_EXECUTABLE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"
    COMMAND_LINE_ARGS:
      resx: 512
      resy: 512

SP_SERVICES:

  # INPUT_SERVICE:
  #   PRINT_INJECT_DEBUG_INFO: True
  # ENHANCED_INPUT_SERVICE:
  #   PRINT_INJECT_DEBUG_INFO: True

  # Set the default game mode to a custom game mode. This game mode sets a default pawn that is just like our
  # usual default pawn, but has been set up to respond to enhanced input events.
  INITIALIZE_ENGINE_SERVICE:
    OVERRIDE_GLOBAL_DEFAULT_GAME_MODE: True
    GLOBAL_DEFAULT_GAME_MODE: "/SpContent/Blueprints/BP_SpGameMode.BP_SpGameMode_C"
