#
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "standalone"
  STANDALONE_EXECUTABLE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"
  INSTANCE:
    COMMAND_LINE_ARGS:
      resx: 512
      resy: 512

# Set the default game mode to a custom game mode. This game mode sets a default pawn that is just like the
# usual default pawn, but has been set up to respond to enhanced input action events.
SP_SERVICES:
  GAME_MAP_SETTINGS_SERVICE:
    GLOBAL_DEFAULT_GAME_MODE: "/SpComponents/Blueprints/BP_SpGameMode.BP_SpGameMode_C"
