#
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "editor"

  INSTANCE:
    EDITOR_EXECUTABLE: "/Users/Shared/Epic_Games/UE_5.5/Engine/Binaries/Mac/UnrealEditor.app"
    EDITOR_UPROJECT: "/Users/miroberts/code/github/spear/cpp/unreal_projects/SpearSim/SpearSim.uproject"
    EDITOR_LAUNCH_MODE: "editor"
    COMMAND_LINE_ARGS:
      resx: 512
      resy: 512
      # renderoffscreen: null
    RPC_CLIENT_INTERNAL_TIMEOUT_SECONDS: 10.0 # set this to longer than usual because it takes a few seconds to take a screenshot
xdscsdcs