#
# Copyright (c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright (c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "editor"

  INSTANCE:
    EDITOR_EXECUTABLE: "/Users/Shared/Epic_Games/UE_5.7/Engine/Binaries/Mac/UnrealEditor.app"
    EDITOR_UPROJECT: "/Users/mroberts/code/github/spear/cpp/unreal_projects/SpearSim/SpearSim.uproject"
    EDITOR_LAUNCH_MODE: "editor"
    CLIENT_INTERNAL_TIMEOUT_SECONDS: 10.0 # set this to longer than usual because it takes a few seconds to take a screenshot
