#
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "standalone_executable"

  STANDALONE_EXECUTABLE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"

  CUSTOM_COMMAND_LINE_ARGUMENTS: []
  RENDER_OFFSCREEN: False
  WINDOW_RESOLUTION_X: 512
  WINDOW_RESOLUTION_Y: 512

SIMULATION_CONTROLLER:
  AGENT: "SphereAgent" # "SphereAgent" or "OpenBotAgent"
  TASK: "PointGoalNavTask"
  CUSTOM_UNREAL_CONSOLE_COMMANDS: []

  SCENE_ID: "debug_0000"

  OPENBOT_AGENT:
    OPENBOT_ACTOR_NAME: "OpenBotActor"
    ACTION_COMPONENTS: ["apply_voltage"] # "apply_voltage", "set_position_xyz_centimeters", "set_orientation_pyr_radians"
    OBSERVATION_COMPONENTS: ["state_data", "control_data", "camera"] # "state_data", "control_data", "camera"
    STEP_INFO_COMPONENTS: []
    CAMERA:
      RENDER_PASSES: ["final_color"] # "depth", "final_color", "normals"
      IMAGE_HEIGHT: 512
      IMAGE_WIDTH: 512
      FOV: 90.0

  SPHERE_AGENT:
    SPHERE_ACTOR_NAME: "SphereActor"
    CAMERA_ACTOR_NAME: "CameraActor"
    ACTION_COMPONENTS: ["add_force", "add_rotation"] # "add_force", "add_rotation"
    OBSERVATION_COMPONENTS: ["camera", "position", "rotation"] # "camera", "position", "rotation"
    STEP_INFO_COMPONENTS: ["debug"] # "debug"
    SPAWN_POSITION_X: 0.0
    SPAWN_POSITION_Y: 0.0
    SPAWN_POSITION_Z: 100.0
    CAMERA:
      RENDER_PASSES: ["final_color"] # "depth", "final_color", "normal", "segmentation"
      IMAGE_HEIGHT: 512
      IMAGE_WIDTH: 512
      FOV: 90.0

  VISUALIZER:
    ACTOR_NAME: "DebugCameraActor"
    SPAWN_CAMERA: False
