#
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "standalone_executable"

  STANDALONE_EXECUTABLE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"

  CUSTOM_COMMAND_LINE_ARGUMENTS: []
  RENDER_OFFSCREEN: False
  WINDOW_RESOLUTION_X: 512
  WINDOW_RESOLUTION_Y: 512

SIMULATION_CONTROLLER:
  AGENT: "SphereAgent" # "SphereAgent" or "OpenBotAgent"
  TASK: "PointGoalNavTask"
  CUSTOM_UNREAL_CONSOLE_COMMANDS: []

  SCENE_ID: "starter_content_0000"

  OPENBOT_AGENT:
    OPENBOT_ACTOR_NAME: "OpenBotActor"
    ACTION_COMPONENTS: ["apply_voltage"] # "apply_voltage", "set_position_xyz_centimeters", "set_orientation_pyr_radians"
    OBSERVATION_COMPONENTS: ["state_data", "control_data", "camera"] # "state_data", "control_data", "camera"
    STEP_INFO_COMPONENTS: []
    CAMERA:
      RENDER_PASSES: ["final_color"] # "depth", "final_color", "normals"
      IMAGE_HEIGHT: 512
      IMAGE_WIDTH: 512
      FOV: 90.0

  SPHERE_AGENT:
    SPHERE_ACTOR_NAME: "SphereActor"
    CAMERA_ACTOR_NAME: "CameraActor"
    ACTION_COMPONENTS: ["apply_force"] # "apply_force"
    OBSERVATION_COMPONENTS: ["camera"] # "camera"
    STEP_INFO_COMPONENTS: ["debug"] # "debug"
    COMPASS:
      GOAL_ACTOR_NAME: "GoalActor"
    CAMERA:
      RENDER_PASSES: ["final_color"] # "depth", "final_color", "normals"
      IMAGE_HEIGHT: 512
      IMAGE_WIDTH: 512
      FOV: 90.0
      POSITION_OFFSET_X: 0.0
      POSITION_OFFSET_Y: 0.0
      POSITION_OFFSET_Z: 1.0
    APPLY_FORCE:
      FORCE_SCALE: 10000.0
      ROTATE_SCALE: 2.5

  POINT_GOAL_NAV_TASK:
    AGENT_ACTOR_NAME: "SphereActor"
    GOAL_ACTOR_NAME: "GoalActor"
    GOAL_SCALE: 0.5
    OBSTACLE_IGNORE_ACTOR_NAMES: ["Floor0"]
    RANDOM_SEED: 0
    REWARD:
      HIT_GOAL: 100.0
      HIT_OBSTACLE: -100.0
      DISTANCE_TO_GOAL_SCALE: 0.00001
    EPISODE_BEGIN:
      AGENT_POSITION_X_MIN: 0.0
      AGENT_POSITION_X_MAX: 100.0
      AGENT_POSITION_Y_MIN: 0.0
      AGENT_POSITION_Y_MAX: 100.0
      AGENT_POSITION_Z: 1.0
      GOAL_POSITION_X_MIN: -250.0
      GOAL_POSITION_X_MAX: 250.0
      GOAL_POSITION_Y_MIN: -250.0
      GOAL_POSITION_Y_MAX: 250.0
      GOAL_POSITION_Z: -25.0
      SPAWN_DISTANCE_THRESHOLD: 50.0

  VISUALIZER:
    ACTOR_NAME: "DebugCameraActor"
    SPAWN_CAMERA: False
