#
# Copyright (c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright (c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "game"
  INSTANCE:
    GAME_EXECUTABLE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"
    COMMAND_LINE_ARGS:
      resx: 512
      resy: 512

    # This example does a lot of off-screen rendering, and on some machines this can cause the Unreal frame
    # time to be more than the default client timeout value of 2 seconds. So we increase the client timeout
    # value to accommodate these machines.
    CLIENT_INTERNAL_TIMEOUT_SECONDS: 10.0
