---
Language:        Cpp
BasedOnStyle:  LLVM
IndentWidth:     4
UseTab:          Never
Standard:        Cpp11
BreakBeforeBraces: Allman
PointerAlignment: Left
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
CompactNamespaces: false
SortIncludes: false
FixNamespaceComments: true
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: true
BinPackParameters: false
...
