[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "third_party/libeigen"]
	path = third_party/libeigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/msgpack-rpc-python"]
	path = third_party/msgpack-rpc-python
	url = https://github.com/dvdhfnr/msgpack-rpc-python.git
[submodule "third_party/rbdl"]
	path = third_party/rbdl
	url = https://github.com/rbdl/rbdl.git
[submodule "third_party/rpclib"]
	path = third_party/rpclib
	url = https://github.com/rpclib/rpclib.git
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
