[submodule "code/thirdparty/asio"]
	path = code/thirdparty/asio
	url = https://github.com/chriskohlhoff/asio
	branch = b84e6c16b2ea907dbad94206b7510d85aafc0b42
[submodule "code/thirdparty/rpclib"]
	path = code/thirdparty/rpclib
	url = https://github.com/rpclib/rpclib.git
	branch = a663a1598a4b419123b2e13c0ae6a39c91dcf5b8
[submodule "code/thirdparty/msgpack-rpc-python"]
	path = code/thirdparty/msgpack-rpc-python
	url = https://github.com/dvdhfnr/msgpack-rpc-python.git
	branch = 938a57e9c26604e7e03d9971afeda810f4e43cd2
