__pycache__
.ipynb_checkpoints

cpp/unreal_plugins/CoreUtils/Binaries
cpp/unreal_plugins/CoreUtils/Intermediate
cpp/unreal_plugins/CoreUtils/ThirdParty

cpp/unreal_plugins/OpenBot/Binaries
cpp/unreal_plugins/OpenBot/Intermediate
cpp/unreal_plugins/OpenBot/ThirdParty

cpp/unreal_plugins/SceneManager/Binaries
cpp/unreal_plugins/SceneManager/Intermediate
cpp/unreal_plugins/SceneManager/ThirdParty

cpp/unreal_plugins/SimulationController/Binaries
cpp/unreal_plugins/SimulationController/Intermediate
cpp/unreal_plugins/SimulationController/ThirdParty

cpp/unreal_projects/SpearSim/Binaries
cpp/unreal_projects/SpearSim/Build
cpp/unreal_projects/SpearSim/CMakeLists.txt
cpp/unreal_projects/SpearSim/Content/Maps
cpp/unreal_projects/SpearSim/Content/Scene
cpp/unreal_projects/SpearSim/DerivedDataCache
cpp/unreal_projects/SpearSim/Intermediate
cpp/unreal_projects/SpearSim/Makefile
cpp/unreal_projects/SpearSim/Plugins
cpp/unreal_projects/SpearSim/SpearSim.code-workspace
cpp/unreal_projects/SpearSim/SpearSim.kdev4
cpp/unreal_projects/SpearSim/SpearSim.pro
cpp/unreal_projects/SpearSim/SpearSim.workspace
cpp/unreal_projects/SpearSim/SpearSimCodeCompletionFolders.txt
cpp/unreal_projects/SpearSim/SpearSimCodeLitePreProcessor.txt
cpp/unreal_projects/SpearSim/SpearSimConfig.pri
cpp/unreal_projects/SpearSim/SpearSimDefines.pri
cpp/unreal_projects/SpearSim/SpearSimHeader.pri
cpp/unreal_projects/SpearSim/SpearSimIncludes.pri
cpp/unreal_projects/SpearSim/SpearSimSource.pri
cpp/unreal_projects/SpearSim/Saved
cpp/unreal_projects/SpearSim/Standalone-Development
cpp/unreal_projects/SpearSim/Standalone-Shipping
cpp/unreal_projects/SpearSim/Temp
cpp/unreal_projects/SpearSim/ThirdParty
cpp/unreal_projects/SpearSim/user_config.yaml
cpp/unreal_projects/SpearSim/.vscode
cpp/unreal_projects/SpearSim/.ignore
cpp/unreal_projects/SpearSim/.kdev4

examples/generate_image_dataset/images
examples/generate_image_dataset/tmp
examples/generate_image_dataset/user_config.yaml

examples/getting_started/tmp
examples/getting_started/user_config.yaml

python/spear_sim.egg-info

tools/scene_downloader/tmp
