[submodule "boost"]
	path = third_party/boost
	url = https://github.com/boostorg/boost
[submodule "msgpack-rpc-python"]
	path = third_party/msgpack-rpc-python
	url = https://github.com/dvdhfnr/msgpack-rpc-python.git
[submodule "rpclib"]
	path = third_party/rpclib
	url = https://github.com/rpclib/rpclib.git
[submodule "yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
