#
# Copyright (c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright (c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "none"

SP_SERVICES:
  INITIALIZE_ENGINE_SERVICE:
    OVERRIDE_BENCHMARKING: True
    BENCHMARKING: True

    OVERRIDE_FIXED_DELTA_TIME: True
    FIXED_DELTA_TIME: 0.016667 # 1.0/60.0

  INITIALIZE_GAME_WORLD_SERVICE:
    OVERRIDE_GAME_PAUSED: True
    GAME_PAUSED: False
