#
# Copyright (c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright (c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "game"
  INSTANCE:
    GAME_EXECUTABLE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"
    COMMAND_LINE_ARGS:
      resx: 512
      resy: 512

    # Uncomment to capture a GPU trace using --capture
    # CLIENT_INTERNAL_TIMEOUT_SECONDS: 60.0

#
# Uncomment and adjust as necessary to cpature a GPU trace using --capture
#

# SP_CORE:
#   OVERRIDE_CONFIG_ENGINE_INI: True
#   CONFIG_ENGINE_INI_STRING: |
#     [/Script/RenderDocPlugin.RenderDocPluginSettings]
#     renderdoc.AutoAttach=True
#     renderdoc.BinaryPath=C:\Program Files\RenderDoc
#     renderdoc.CaptureAllActivity=False
#     renderdoc.ReferenceAllResources=False
#     renderdoc.CaptureCallstacks=False
#     renderdoc.SaveAllInitials=False
