#
# Copyright (c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright (c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "none"

SP_CORE:
  OVERRIDE_CONFIG_ENGINE_INI: True
  CONFIG_ENGINE_INI_STRING: |
    [SystemSettings]
    r.DistanceFields.SupportEvenIfHardwareRayTracingSupported=1

SP_SERVICES:
  INITIALIZE_ENGINE_SERVICE:
    OVERRIDE_PHYSICS_SETTINGS: True
    PHYSICS_SETTINGS_STRING: |
      {
        "MinPhysicsDeltaTime": 0.000001,
        "MaxPhysicsDeltaTime": 0.033333,
        "bSubstepping": true,
        "MaxSubstepDeltaTime": 0.006666,
        "MaxSubsteps": 10
      }

  WORLD_REGISTRY_SERVICE:
    OVERRIDE_GAME_PAUSED: True
    GAME_PAUSED: False
