SPEAR:
  LAUNCH_MODE: "standalone_executable"
  STANDALONE_EXECUTABLE: "/Users/mroberts/code/github/interiorsim/code/unreal_projects/RobotProject/Standalone-Development/MacNoEditor/RobotProject.app"
  TEMP_DIR: "/Users/mroberts/code/github/interiorsim/code/unreal_projects/RobotProject/Temp"

SIMULATION_CONTROLLER:
  TASK: "PointGoalNavTask"
  AGENT: "OpenBotAgent"

  OPENBOT_AGENT:
    OPENBOT_ACTOR_NAME: "RobotProjectOpenBot"
    ACTION_COMPONENTS: ["apply_voltage"] # "apply_voltage", "set_position_xyz_centimeters", "set_orientation_pyr_radians"
    OBSERVATION_COMPONENTS: ["state_data", "control_data", "camera"] # "state_data", "control_data", "camera"
    STEP_INFO_COMPONENTS: []
    IS_READY_VELOCITY_THRESHOLD: 0.0
    CAMERA:
      RENDER_PASSES: ["final_color"] # "final_color", "segmentation", "depth_glsl", "normals", "lens_distortion" 
      IMAGE_HEIGHT: 512
      IMAGE_WIDTH: 512
      FOV: 72.0

  POINT_GOAL_NAV_TASK:
    AGENT_ACTOR_NAME: "RobotProjectOpenBot"
    GOAL_ACTOR_NAME: "RobotProjectGoal"
    OBSTACLE_IGNORE_ACTOR_NAMES: ["Floor"]
    REWARD:
      HIT_GOAL: 100.0
      HIT_OBSTACLE: -100.0
      DISTANCE_TO_GOAL_SCALE: 0.00001
    EPISODE_BEGIN:
      AGENT_POSITION_X_MIN: -4.0
      AGENT_POSITION_X_MAX: 4.0
      AGENT_POSITION_Y_MIN: -4.0
      AGENT_POSITION_Y_MAX: 4.0
      AGENT_POSITION_Z: 0.0
      GOAL_POSITION_X_MIN: -300.0
      GOAL_POSITION_X_MAX: -220.0
      GOAL_POSITION_Y_MIN: -200.0
      GOAL_POSITION_Y_MAX: -120.0
      GOAL_POSITION_Z: 5.0
      SPAWN_DISTANCE_THRESHOLD: 100.0

  VISUALIZER:
    ACTOR_NAME: "RobotProjectOpenBot"
    SPAWN_CAMERA: false
