// Copyright Epic Games, Inc. All Rights Reserved.

using UnrealBuildTool;
using System;

public class SimulationController : ModuleRules
{
    public const String ASIO_INCLUDE = "/home/rachithp/code/github/unreal-ai/thirdparty/asio/asio/include";
    public const String RPCLIB_INCLUDE = "/home/rachithp/code/github/unreal-ai/thirdparty/rpclib/include";
    public const String RPCLIB_LIB = "/home/rachithp/code/github/unreal-ai/thirdparty/rpclib/build/librpc.a";

    public SimulationController(ReadOnlyTargetRules Target) : base(Target)
    {
        bEnableExceptions = true;

        PCHUsage = ModuleRules.PCHUsageMode.UseExplicitOrSharedPCHs;

        PublicDependencyModuleNames.AddRange(new string[] { "Core", "CoreUObject", "CoreUtils", "Engine", "InputCore", "RenderCore", "RHI" });

        PrivateDependencyModuleNames.AddRange(new string[] { });

        // asio
        PublicDefinitions.Add("ASIO_NO_TYPEID");
        PublicIncludePaths.Add(ASIO_INCLUDE);

        // rpclib
        PublicIncludePaths.Add(RPCLIB_INCLUDE);
        PublicAdditionalLibraries.Add(RPCLIB_LIB);
    }
}
