#
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

IMITATION_LEARNING_OPENBOT:
  ACCEPTANCE_RADIUS: 0.15           # Radius in [m], of the region around the desination coordinates where the goal will be considered as "reached" by the agent
  CONTROL_SATURATION: 0.9           # Saturates the ammount of linar (resp. angular) command before merging them into left/right wheels command
  PID:
    PROPORTIONAL_GAIN_HEADING: 4.25 # PID proportional gain for the autopilot
    DERIVATIVE_GAIN_HEADING: 1.0    # PID derivative gain for the autopilot
    PROPORTIONAL_GAIN_DIST: 4.0     # PID proportional gain for the autopilot
    DERIVATIVE_GAIN_DIST: 0.1       # PID derivative gain for the autopilot
    FORWARD_MIN_ANGLE: 0.5          # Angular range within which the vehicle moves forward to the target in [rad]
  PILOT_NET:
    PATH: ""

SPEAR:
  LAUNCH_MODE: "standalone_executable"

  STANDALONE_EXECUTABLE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"

  PAKS_DIR: "/Users/mroberts/Downloads/spear-paks"

  CUSTOM_COMMAND_LINE_ARGUMENTS: []
  RENDER_OFFSCREEN: False
  WINDOW_RESOLUTION_X: 160
  WINDOW_RESOLUTION_Y: 120

SIMULATION_CONTROLLER:
  AGENT: "VehicleAgent"
  TASK: "ImitationLearningTask"
  CUSTOM_UNREAL_CONSOLE_COMMANDS: []

  SIMULATION_STEP_TIME: 0.033
  MAX_SUBSTEP_DELTA_TIME: 0.001
  MAX_SUBSTEPS: 100

  NAVMESH:
    TRAJECTORY_SAMPLING_SEARCH_RADIUS: 10000.0 # Region around a sampled initial position to look for a reachable goal position

  VEHICLE_AGENT:
    VEHICLE_ACTOR_NAME: "vehicle_actor"
    ACTION_COMPONENTS: ["set_drive_torques"] # "set_brake_torques", "set_drive_torques"
    OBSERVATION_COMPONENTS: ["camera", "location", "rotation", "wheel_encoder"] # "camera", "imu", "location", "rotation", "wheel_encoder"
    IS_READY_VELOCITY_THRESHOLD: 0.001
    SPAWN_MODE: "specify_pose" # "specify_existing_actor", "specify_pose"
    SPAWN_ACTOR_NAME: ""
    SPAWN_LOCATION_X: 0.0
    SPAWN_LOCATION_Y: 0.0
    SPAWN_LOCATION_Z: 20.0
    SPAWN_ROTATION_PITCH: 0.0
    SPAWN_ROTATION_YAW: 0.0
    SPAWN_ROTATION_ROLL: 0.0
    CAMERA:
      RENDER_PASSES: ["final_color"] # "depth", "final_color", "normal", "segmentation" 
      IMAGE_HEIGHT: 512
      IMAGE_WIDTH: 512
      FOV: 90.0

  IMITATION_LEARNING_TASK:
    AGENT_ACTOR_NAME: "vehicle_actor"
    GOAL_ACTOR_NAME: "goal_actor"
    OBSTACLE_IGNORE_ACTOR_NAMES: ["Floor", "obj0"]
    TRAJECTORY_LOCATIONS_FILE: ""
    TRAJECTORY_SAMPLING_DEBUG_RENDER: False # Displays markers when set to True (only applies in Development builds)

  VISUALIZER:
    ACTOR_NAME: "vehicle_actor"
    SPAWN_CAMERA: False
  
  IMU_SENSOR:
    DEBUG_RENDER: False # Displays markers when set to True (only applies in Development builds)

  SONAR_SENSOR:
    DEBUG_RENDER: False # Displays markers when set to True (only applies in Development builds)
