#
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

IMITATION_LEARNING_OPENBOT:
  ACCEPTANCE_RADIUS: 0.15           # Radius in [m], of the region around the desination coordinates where the goal will be considered as "reached" by the agent
  CONTROL_SATURATION: 0.9           # Saturates the ammount of linar (resp. angular) command before merging them into left/right wheels command
  PID:
    PROPORTIONAL_GAIN_HEADING: 4.25 # PID proportional gain for the autopilot
    DERIVATIVE_GAIN_HEADING: 1.0    # PID derivative gain for the autopilot
    PROPORTIONAL_GAIN_DIST: 4.0     # PID proportional gain for the autopilot
    DERIVATIVE_GAIN_DIST: 0.1       # PID derivative gain for the autopilot
    FORWARD_MIN_ANGLE: 0.5          # Angular range within which the vehicle moves forward to the target in [rad]
  PILOT_NET:
    PATH: ""

OPENBOT_ENV:
    # Motor torque: 1200 gf.cm (gram force centimeter) == 0.1177 N.m
    # Gear ratio: 50
    # Max wheel torque: 5.88399 N.m
    # https://www.conrad.de/de/p/joy-it-com-motor01-getriebemotor-gelb-schwarz-passend-fuer-einplatinen-computer-arduino-banana-pi-cubieboard-raspbe-1573543.html
    
    MOTOR_VELOCITY_CONSTANT: 65.89 # Velocity constant of the OpenBot motors
    GEAR_RATIO: 50.0               # Gear ratio of the OpenBot motors

    BATTERY_VOLTAGE: 12.0          # Voltage of the battery powering the OpenBot [V]
    CONTROL_DEAD_ZONE: 2.5         # Absolute duty cycle (in the ACTION_SCALE range) below which a command does not produces any torque on the vehicle
    MOTOR_TORQUE_MAX: 0.0019       # Motor maximal torque [N.m]
    ELECTRICAL_RESISTANCE: 0.5     # Motor winding electrical resistance [Ohms]

    ACTION_SCALE: 255              # Action scaling factor

SPEAR:
  LAUNCH_MODE: "standalone_executable"

  STANDALONE_EXECUTABLE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"

  PAKS_DIR: "/Users/mroberts/Downloads/spear-paks"

  CUSTOM_COMMAND_LINE_ARGUMENTS: []
  RENDER_OFFSCREEN: False
  WINDOW_RESOLUTION_X: 160
  WINDOW_RESOLUTION_Y: 120

SIMULATION_CONTROLLER:
  AGENT: "VehicleAgent"
  TASK: "ImitationLearningTask"
  CUSTOM_UNREAL_CONSOLE_COMMANDS: []

  SIMULATION_STEP_TIME: 0.033
  MAX_SUBSTEP_DELTA_TIME: 0.001
  MAX_SUBSTEPS: 100

  NAVMESH:
    TILE_SIZE_UU: 300.0
    AGENT_RADIUS: 20.0
    AGENT_HEIGHT: 20.0
    AGENT_MAX_SLOPE: 0.1
    MIN_REGION_AREA: 400.0
    MERGE_REGION_SIZE: 0.0

  VEHICLE_AGENT:
    VEHICLE_ACTOR_NAME: "vehicle_actor"
    ACTION_COMPONENTS: ["set_drive_torques"] # "set_brake_torques", "set_drive_torques"
    OBSERVATION_COMPONENTS: ["camera", "location", "rotation", "wheel_rotation_speeds"] # "camera", "imu", "location", "rotation", "wheel_rotation_speeds"
    IS_READY_VELOCITY_THRESHOLD: 0.001
    SPAWN_MODE: "specify_pose" # "specify_existing_actor", "specify_pose"
    SPAWN_ACTOR_NAME: ""
    SPAWN_LOCATION_X: 0.0
    SPAWN_LOCATION_Y: 0.0
    SPAWN_LOCATION_Z: 20.0
    SPAWN_ROTATION_PITCH: 0.0
    SPAWN_ROTATION_YAW: 0.0
    SPAWN_ROTATION_ROLL: 0.0
    CAMERA:
      RENDER_PASSES: ["final_color"] # "depth", "final_color", "normal", "segmentation" 
      IMAGE_HEIGHT: 512
      IMAGE_WIDTH: 512
      FOV: 90.0

  IMITATION_LEARNING_TASK:
    AGENT_ACTOR_NAME: "vehicle_actor"
    GOAL_ACTOR_NAME: "goal_actor"
    OBSTACLE_IGNORE_ACTOR_NAMES: ["Floor_2", "Floor_3", "Floor_4", "Floor_5", "Floor_6", "Floor_7", "Floor_8", "Floor_9", "Floor_10"]
    EPISODES_FILE: ""

  VISUALIZER:
    ACTOR_NAME: "vehicle_actor"
    SPAWN_CAMERA: False
  
  IMU_SENSOR:
    DEBUG_RENDER: False # Displays markers when set to True (only applies in Development builds)
