#
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "standalone"
  STANDALONE_EXECUTABLE: "C:/github/spear/cpp/unreal_projects/SpearSim/Standalone-Development/Windows/SpearSim/Binaries/Win64/SpearSim-Cmd.exe"

  INSTANCE:
    COMMAND_LINE_ARGS:
      resx: 1024
      resy: 720

SP_ENGINE:
  LEGACY_SERVICE:
    AGENT: "NullAgent"
    TASK: "NullTask"
