#
# Copyright (c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright (c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "game"
  INSTANCE:
    GAME_EXECUTABLE: "C:\\Users\\mike\\code\\github\\spear\\cpp\\unreal_projects\\SpearSim\\Standalone-Development\\Windows\\SpearSim.exe"
    COMMAND_LINE_ARGS:
      resx: 512
      resy: 512
    CLIENT_INTERNAL_TIMEOUT_SECONDS: 30.0 # denoising can sometimes take a few seconds
