#
# Copyright(c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "game"
  INSTANCE:
    GAME_EXECUTABLE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"
    COMMAND_LINE_ARGS:
      resx: 512
      resy: 512

SP_SERVICES:
  INITIALIZE_ENGINE_SERVICE:
    OVERRIDE_GAME_DEFAULT_MAP: True
    GAME_DEFAULT_MAP: "/Game/ThirdPerson/Maps/ThirdPersonMap"

    OVERRIDE_BENCHMARKING: True
    BENCHMARKING: False

  INITIALIZE_GAME_WORLD_SERVICE:
    OVERRIDE_GAME_PAUSED: True
    GAME_PAUSED: False
