#
# Copyright(c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "standalone"
  STANDALONE: "/Users/mroberts/Downloads/SpearSim-Mac-Shipping/SpearSim-Mac-Shipping.app"
  PAKS_DIR: "/Users/mroberts/Downloads/spear-paks"

  INSTANCE:
    COMMAND_LINE_ARGS:
      resx: 512
      resy: 512

    NUM_EXTRA_WARMUP_TICKS: 10
    RPC_CLIENT_INTERNAL_TIMEOUT_SECONDS: 10.0

SP_ENGINE:
  LEGACY_SERVICE:
    AGENT: "UrdfRobotAgent"
    TASK: "NullTask"

  LEGACY:
    URDF_ROBOT_AGENT:
      URDF_ROBOT_ACTOR_NAME: "UrdfRobotActor"
      ACTION_COMPONENTS: ["control_joints"]
      OBSERVATION_COMPONENTS: ["links_location", "links_rotation", "camera"]
      STEP_INFO_COMPONENTS: []
      SPAWN_LOCATION_X: -20.0
      SPAWN_LOCATION_Y: 200.0
      SPAWN_LOCATION_Z: 40.0
      SPAWN_ROTATION_PITCH: 0.0
      SPAWN_ROTATION_YAW: 0.0
      SPAWN_ROTATION_ROLL: 0.0
      CAMERA:
        RENDER_PASSES: ["final_color"] # "depth", "final_color", "normals"
        IMAGE_HEIGHT: 512
        IMAGE_WIDTH: 512
        FOV: 90.0

URDF_ROBOT:
  URDF_ROBOT_PAWN:
    URDF_FILE: "fetch.urdf"
    CAMERA_COMPONENT:
      LOCATION_X: -70.0
      LOCATION_Y: 70.0
      LOCATION_Z: 140.0
      ROTATION_PITCH: 0.0
      ROTATION_YAW: -30.0
      ROTATION_ROLL: 0.0
