#
# Copyright (c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright (c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "editor"
  INSTANCE:
    EDITOR_EXECUTABLE: "C:/Program Files/Epic Games/UE_5.5/Engine/Binaries/Win64/UnrealEditor.exe"
    EDITOR_UPROJECT: "C:/repos/spear/cpp/unreal_projects/SpearSim/SpearSim.uproject"
    EDITOR_LAUNCH_MODE: "game"
    CLIENT_INTERNAL_TIMEOUT_SECONDS: 60.0

SP_CORE:
  # Adjust renderdoc.BinaryPath to your RenderDoc install.
  OVERRIDE_CONFIG_ENGINE_INI: True
  CONFIG_ENGINE_INI_STRING: |
    [/Script/RenderDocPlugin.RenderDocPluginSettings]
    renderdoc.AutoAttach=True
    renderdoc.BinaryPath=C:\Program Files\RenderDoc
    renderdoc.CaptureAllActivity=False
    renderdoc.ReferenceAllResources=False
    renderdoc.CaptureCallstacks=False
    renderdoc.SaveAllInitials=False
