#
# Copyright (c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright (c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "game"
  INSTANCE:
    GAME_EXECUTABLE: "C:\\repos\\spear\\cpp\\unreal_projects\\SpearSim\\Binaries\\Win64\\SpearSim.exe"
    COMMAND_LINE_ARGS:
      resx: 512
      resy: 512
    CLIENT_INTERNAL_TIMEOUT_SECONDS: 30.0 # Rendering/denoising can sometimes take a few seconds

SP_CORE:
  CONFIG_GAME_INI_STRING: |
    [/Script/Engine.RendererSettings]
    r.RayTracing.Enable=1
