#
# Copyright (c) 2025 The SPEAR Development Team. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
# Copyright (c) 2022 Intel. Licensed under the MIT License <http://opensource.org/licenses/MIT>.
#

SPEAR:
  LAUNCH_MODE: "none"

SP_SERVICES:
  INITIALIZE_GAME_WORLD_SERVICE:
    OVERRIDE_GAME_PAUSED: True
    GAME_PAUSED: False
