SPEAR:
  LAUNCH_MODE: "standalone_executable"
  STANDALONE_EXECUTABLE: "/Users/mroberts/code/github/interiorsim/code/unreal_projects/InteriorEnvironment/Standalone-Development/MacNoEditor/InteriorEnvironment.app"
  TEMP_DIR: "/Users/mroberts/code/github/interiorsim/code/unreal_projects/InteriorEnvironment/Temp"

SIMULATION_CONTROLLER:
  TASK: "PointGoalNavTask"
  AGENT: "SphereAgent"

  SPHERE_AGENT:
    SPHERE_ACTOR_NAME: "Sphere_2" # TODO: spawn this actor instead of finding it within the scene
    ACTION_COMPONENTS: ["apply_force"] # "apply_force"
    OBSERVATION_COMPONENTS: ["compass", "camera"] # "compass", "camera"
    STEP_INFO_COMPONENTS: ["debug_info"]
    COMPASS:
      GOAL_ACTOR_NAME: "InteriorEnvironmentGoal"
      OFFSET_TO_GOAL_SCALE: 0.01
      LINEAR_VELOCITY_SCALE: 0.01
      YAW_SCALE: 1.0
    CAMERA:
      CAMERA_ACTOR_NAME: "InteriorEnvironmentCamera"
      RENDER_PASSES: ["final_color"] # "final_color", "segmentation", "depth_glsl", "normals", "lens_distortion" 
      IMAGE_HEIGHT: 128
      IMAGE_WIDTH: 128
      FOV: 90.0
      POSITION_OFFSET_X: 0.0
      POSITION_OFFSET_Y: 0.0
      POSITION_OFFSET_Z: 5.0
    APPLY_FORCE:
      FORCE_SCALE: 100000.0
      ROTATE_SCALE: 1.0
    SPHERE:
      MASS_SCALE: 1.0
      MAX_ANGULAR_VELOCITY: 1.0
      LINEAR_DAMPING: 0.1
      ANGULAR_DAMPING: 0.1

  POINT_GOAL_NAV_TASK:
    AGENT_ACTOR_NAME: "Sphere_2"
    GOAL_ACTOR_NAME: "InteriorEnvironmentGoal"
    OBSTACLE_IGNORE_ACTOR_NAMES: [ "Architecture_SMid0_PMid0_INSTid1227_obj19", "6KAPD2ZVAZSUSPTUKE888888_SMid116_PMid1009_INSTid1080_obj0_0" ]
    REWARD:
      HIT_GOAL: 100.0
      HIT_OBSTACLE: -100.0
      DISTANCE_TO_GOAL_SCALE: 0.00001
    EPISODE_BEGIN:
      AGENT_POSITION_X_MIN: -300.0
      AGENT_POSITION_X_MAX: -220.0
      AGENT_POSITION_Y_MIN: -200.0
      AGENT_POSITION_Y_MAX: -120.0
      AGENT_POSITION_Z: 5.0
      GOAL_POSITION_X_MIN: -300.0
      GOAL_POSITION_X_MAX: -220.0
      GOAL_POSITION_Y_MIN: -200.0
      GOAL_POSITION_Y_MAX: -120.0
      GOAL_POSITION_Z: 5.0
      SPAWN_DISTANCE_THRESHOLD: 50.0

  VISUALIZER:
    CAMERA_ACTOR_NAME: "DebugCameraActor"
    SPAWN_CAMERA: False
