INTERIORSIM:
  LAUNCH_MODE: "standalone_executable"
  STANDALONE_EXECUTABLE: "/home/rachithp/code/github/interiorsim/code/experiments/debug_synchronization_model/DebugProject/dist/LinuxNoEditor/DebugProject.sh"
  TEMP_DIR: "/home/rachithp/code/github/interiorsim/code/experiments/debug_synchronization_model/DebugProject/Temp"
  VULKAN_DEVICE_FILES: "/usr/share/vulkan/icd.d/nvidia_icd.json"
  RPC_CLIENT_INTERNAL_TIMEOUT_SECONDS: 30.0
  CUSTOM_COMMAND_LINE_ARGUMENTS:
    - "/home/rachithp/code/github/interiorsim/code/unreal_projects/RobotProject/Plugins/RobotSim/setting/settings.json"
SIMULATION_CONTROLLER:
  AGENT_CONTROLLER_NAME: "DebugAgentController"
UNREALAI:
  LAUNCH_MODE: "standalone_executable"
  STANDALONE_EXECUTABLE: "/Users/mroberts/code/github/unreal-ai/examples/InteriorEnvironment/Standalone-Development/MacNoEditor/InteriorEnvironment.app"
