// Copyright Epic Games, Inc. All Rights Reserved.

using UnrealBuildTool;
using System;

public class CoreUtils : ModuleRules
{
    public const String YAML_CPP_INCLUDE = "/home/rachithp/code/github/unreal-ai/thirdparty/yaml-cpp/include";
    public const String YAML_CPP_LIB = "/home/rachithp/code/github/unreal-ai/thirdparty/yaml-cpp/build/libyaml-cpp.a";

    public CoreUtils(ReadOnlyTargetRules Target) : base(Target)
    {
        bEnableExceptions = true;

        PCHUsage = ModuleRules.PCHUsageMode.UseExplicitOrSharedPCHs;

        PublicDependencyModuleNames.AddRange(new string[] { "Core", "CoreUObject", "Engine", "InputCore" });

        PrivateDependencyModuleNames.AddRange(new string[] { });

        // yaml-cpp
        PublicIncludePaths.Add(YAML_CPP_INCLUDE);
        PublicAdditionalLibraries.Add(YAML_CPP_LIB);
    }
}
